{% extends "rdec/root.html" %}

{% block body %}
        {% if validlink %}
            <div class="panel panel-default">
                <div class="panel-heading">Reset Password</div>
                <div class="panel-body">
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                            <input class="form-control" id="{{ form.new_password1.id_for_label }}" maxlength="30"
                                   name="{{ form.new_password1.html_name }}" type="password"/>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">New Password Confirmation</label>
                            <input class="form-control" id="{{ form.new_password2.id_for_label }}" maxlength="30"
                                   name="{{ form.new_password2.html_name }}" type="password"/>
                        </div>

                        <button class="btn btn-default" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        {% else %}
            <p>This reset link is no longer valid!</p>
        {% endif %}
{% endblock %}
