{% extends "rdec/root.html" %}

{% block body %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">Reset Password</div>
            <div class="panel-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">E-mail Address</label>
                        <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="30"
                               name="{{ form.email.html_name }}" placeholder="bigwhoop@hellfire-harlots.co.uk" type="email"/>
                    </div>

                    <button class="btn btn-default" type="submit">Submit</button>
                </form>
            </div>
        </div>
{% endblock %}
