{% extends 'rdec/root.html' %}
{% block body %}
<h1>Roller Derby Event Coordinator</h1>
    <h2>Upcoming Events for {{ user.first_name }}</h2>

    <p>For any event you will attend, change the drop-down on the right to the role you will be attending as.</p>
    <p>If you can't make an event, leave it as 'no info'. You can choose 'not available' if you want to be absolutely sure
    everyone will leave you alone on the day.</p>
    <p>Events added or changed within the last {{ recency_cutoff }} days are highlighted in blue.</p>

    <div class="table-responsive">
            <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Location</th>
            <th>Attending As</th>
        </tr>
        </thead>
        <tbody>
    {% for event_attendance in event_attendances %}
        <tr {% if event_attendance.is_recent %}class="info"{% endif %}>
        <td>{{ event_attendance.event.name }}</td>
        <td>{{ event_attendance.event.date|date:"D d F Y, f a" }}</td>
        <td>{{ event_attendance.event.location }}</td>
        <td>
            <select title='Attending' id="{{ event_attendance.event.id }}" class='attending_changer'>
            <option value="null">(no info)</option>
            {% for role in roles %}
                <option value="{{ role.id }}"
                        {% if event_attendance.response %}
                            {% if role.id == event_attendance.response.role_id %}
                                selected
                            {% endif %}

                        {% endif %}
                    >
                    {{ role }}
                </option>
            {% endfor %}
            </select>
        </td>

        </tr>
    {% endfor %}

        </tbody>
    </table>
    </div>




{% endblock %}

{% block script %}
    <script>
    $(".attending_changer").change(function() {
       var new_value = $(this).val();
        var payload = {
            'event_id': $(this).attr('id'),
            'new_status': new_value,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        };
        $.ajax('{% url 'change_attending' %}', {
            method: 'POST',
            data: payload
        }).done(function(data) {

        }).fail(function() {
            alert('nope');
        });
    });
    </script>
{% endblock %}
